* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat";
}

body {
  min-height: 100vh;
  background: #000000;
  color: #fff;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.1rem 7%;
  /* background: #a04d4d; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 67, 67, 0.056);
  backdrop-filter: blur(70px);
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(30, 29, 29), transparent);
  transition: 0.6s;
}

.header:hover::after {
  left: 100%;
}

.img-logo {
  width: 50px;
  height: 50px;
  /* background: #000; */
}

.logo {
  width: 170%;
  height: 100%;
  /* padding: 0; */
  object-fit: cover;
  object-position: center;
}

.navbar a {
  font-size: 1.55rem;
  /* font-family: "Gilroy"; */
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  cursor: pointer;
  transition: font-size 0.3s;
}
/* .navbar a:hover {
  font-size: 1.75rem;
} */

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.2rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  display: none;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.page1 {
  width: 100%;
  height: 100vh;
}
.slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
#slideImg {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  animation: image 3s linear infinite;
}

@keyframes image{
  0%{   
     transform: scale(1.3);
  }
  15% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.3);
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.box {
  margin: 60px 30px 60px 30px;
  height: 85%;
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  align-items: center;
  pointer-events: all;
}
.content {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
.content h1 {
  font-size: 7.5rem;
  line-height: 100px;
  text-shadow: 7px 7px 5px rgba(114, 113, 113, 0.948);
}
#head3 {
  margin-bottom: 20px;
}
.note1 {
  font-size: 30px;
  text-shadow: 5px 5px 5px rgba(114, 113, 113, 0.948);
  margin-bottom: 30px;
}
.content button {
  padding: 5px 20px;
  border-radius: 10px;
  background: transparent;
  pointer-events: all;
}
.content a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 1000;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content a:hover{
  color: #000;
}

.note2 {
  font-size: 25px;
  margin: 20px 0;
}

.line {
  border: 2px solid;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.note3 {
  font-size: 25px;
}
.content h5 {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  align-items: center;
}

/* Page 2 */
.page2 {
  margin: 0;
  position: relative;
  background: #000;
  z-index: 99;
  height: 100vh;
  width: 100%;
  /* background: pink; */
}
.page2 h2 {
  padding-top: 60px;
  color: #fff;
  font-size: 100px;
  text-align: center;
  font-family: "Rakkas";
  text-decoration: underline;
}

/* for Card in page 2 */
.card-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background: red; */
}
.card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 50px;
  box-shadow: 20px 20px 50px rgba(123, 122, 122, 0.704);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.705);
  backdrop-filter: blur(5px);
}
.card video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  z-index: -100;
  filter: brightness(30%);
}

.card-content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;

  transition: 0.5s;
}
.card:hover .card-content {
  transform: translateY(0px);
  opacity: 1;
}
.card-content h3 {
  font-size: 3rem;
  color: #fff;
  z-index: 99;
  margin-bottom: 10px;
}
.card-content p {
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
}
.card-content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
}

/* Breakpoints */
@media (max-width: 992px) {
  .header {
    padding: 0.2rem 5%;
  }
}

/* For mobile */
@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    /* background: red; */
    background: rgba(68, 67, 67, 0.056);
    backdrop-filter: blur(70px);
    box-shadow: 0 0.5rem 1rem rgba(83, 82, 82, 0.7);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 13rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
    opacity: 0;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }

  .content h1 {
    font-size: 4.5rem;
    line-height: 80px;
  }

  #head3 {
    margin-bottom: 10px;
  }
  .note1 {
    font-size: 23px;
    margin-bottom: 15px;
  }
  .content button {
    /* border: 1px solid white; */
    padding: 3px 10px;
  }

  .content a {
    font-size: 15px;
    font-weight: 800;
  }
  .note2 {
    font-size: 18px;
  }

  .note3 {
    font-size: 17px;
  }
  .content h5 {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
  }

  .page2 h2 {
    font-size: 60px;
  }
}
