* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat";
}
html {
  scroll-behavior: smooth;
}
body {
  /* min-height: 100vh; */
  background: #000000;
  color: #fff;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.1rem 7%;
  /* background: #a04d4d; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 67, 67, 0.056);
  backdrop-filter: blur(70px);
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(30, 29, 29), transparent);
  transition: 0.6s;
}

.header:hover::after {
  left: 100%;
}

.img-logo {
  width: 50px;
  height: 50px;
  /* background: #000; */
}

.logo {
  width: 170%;
  height: 100%;
  /* padding: 0; */
  object-fit: cover;
  object-position: center;
}

.navbar a {
  font-size: 1.55rem;
  /* font-family: "Gilroy"; */
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  cursor: pointer;
  transition: font-size 0.3s;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.2rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  display: none;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
}


#page3 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 10px 0 10px 0px;
  text-align: center;
  padding-top: 50px;
}
#about {
  height: 100%;
}
#about h2 {
  padding-top: 15px;
  color: #fff;
  font-size: 80px;
  text-align: center;
  font-weight: 200;
  /* font-family: "Rakkas"; */
  font-family: "Caveat";
  /* text-decoration: underline; */
}
#about .about-desc {
  font-size: 1.1rem;
  padding: 10px 30px;
  text-align: center;
  margin: 0 30px;
}
.about-box {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  
}
.about-info {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}
.about-info h3 {
  text-align: start;
  font-size: 1.6rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.about-info h3 span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
}
.about-info .para {
  text-align: start;
  font-size: 1rem;
}
.about-info a{
  cursor: pointer;
}
.about-info .follow-btn {
  display: flex;
  margin-top: 15px;
  gap: 10px;
  align-items: center;
}
.about-info .btn {
  padding: 8px 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background: #474646;
  color: #fff;
  width: 40%;
  text-decoration: none;
  cursor: pointer;
}
.about-info button i {
  text-align: center;
  font-size: 20px;
}
.about-info a{
  cursor: pointer;
}
.about-info #social {
  text-align: left;
}
.about-info #social a {
  text-decoration: none;
}
.about-info #social a i {
  padding-left: 5px;
  font-size: 30px;
  color: #fff;
}

.about-box img {
  background: #000;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}



/* footer */
#footer {
  background-color: #292929;
  padding: 10px;
  /* position: relative; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer h5 {
  text-align: center;
  color: antiquewhite;
}
#footer h5 a {
  text-decoration: none;
  color: #fff;
}
#top {
  position: absolute;
  right: 12px;
  bottom: 5px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Breakpoints */
@media (max-width: 992px) {
  .header {
    padding: 0.2rem 5%;
  }
}

/* For mobile */
@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    /* background: red; */
    background: rgba(68, 67, 67, 0.056);
    backdrop-filter: blur(70px);
    box-shadow: 0 0.5rem 1rem rgba(83, 82, 82, 0.7);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 10rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
    opacity: 0;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }

  
  #page3 {
    min-height: 100vh;
    padding: 10px 0 0px 0px;
    text-align: center;
    padding-top: 30px;
  }
  #about {
    height: 100%;
  }
  #about h2 {
    font-size: 60px;
  }
  #about .about-desc {
    font-size: .8rem;
    padding: 0 10px;
    text-align: center;
    margin: 0 30px;
  }
  .about-box {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-info {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;
    justify-content: center;
  }
  .about-info h3 {
    text-align: start;
    font-size: 1rem;
  }
  .about-info h3 span {
    font-size: .9rem;
  }
  .about-info .para {
    text-align: start;
    font-size: .8rem;
  }
  .about-info a{
    cursor: pointer;
  }
  .about-info .follow-btn {
    text-align: center;
  }
  .about-info .btn{
    padding: 5px 15px;
    font-size: 15px;
    width: 50%;
  }
  .about-info button i {
    text-align: center;
    font-size: 10px;
  }
  .about-info #social {
    text-align: center;
  }
  .about-info #social a {
    text-decoration: none;
  }
  .about-info #social a i {
    font-size: 20px;
    /* padding-bottom: 5px; */
    margin-bottom: 0;
  }
  
  .about-box img {
    background: #000;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15px;
  }

  /* footer */
  #footer {
    background-color: #292929;
    padding: 5px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 11;
  }
  #top {
    position: absolute;
    right: 12px;
    bottom: 5px;
    color: #fff;
    font-size: .7rem;
    cursor: pointer;
  }
}