@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 40.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}



::-webkit-scrollbar {
  width: 1rem;
  background: #42da05;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  /* background: #f9f9f9; */
  background: #cb3131;
}

/* Navbar */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.1rem 2%;
  /* background: #a04d4d; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 67, 67, 0.056);
  backdrop-filter: blur(70px);
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(30, 29, 29), transparent);
  transition: 0.6s;
}

.header:hover::after {
  left: 100%;
}

.img-logo {
  width: 50px;
  height: 50px;
  /* background: #000; */
}

.logo {
  width: 170%;
  height: 100%;
  /* padding: 0; */
  object-fit: cover;
  object-position: center;
}

.navbar a {
  font-size: 2.55rem;
  font-family: "Caveat";
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  cursor: pointer;
  transition: font-size 0.3s;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.2rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  display: none;
}


/* footer */
#footer {
  background-color: #292929;
  padding: 10px;
  /* position: relative; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer h5 {
  text-align: center;
  color: antiquewhite;
  font-family: "Caveat";
  font-size: 2rem;
}
#footer h5 a {
  text-decoration: none;
  font-family: "Caveat";
  color: #fff;
}
#top {
  position: absolute;
  right: 12px;
  bottom: 7px;
  color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
}



.back{
  height: 100vh;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.back video{
  width: 100%; 
  height: 100%;
  object-fit: cover;
  filter: brightness(20%);
}

















body {
  min-height: 100vh;
  font-size: 1rem;
  background : var(--bg);
  overflow-x: hidden;
  /* background: #2e0101; */

}

.container {
  /* background: #000; */
  max-width: 100vw;
  height: 100%;
  padding: 0 0;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 5rem;
  /* color: var(--primary); */
  color: #f2cfcf;
  padding: 1rem 0;
}
.section-subheading{
  font-size: 3rem;
  color: #cb3131;
}


#tranding {
  padding: 3.5rem 0 0 0;
  /* background: #d83c3c; */
}



#tranding .tranding-slider {
  height: 55rem;
  padding: 0 0 3rem 0;
  position: relative;
  background: #f40a0a;
}


.tranding-slide {
  width: 65rem;
  height: 30rem;
  position: relative;
  background: #714545;
}



.tranding-slide .tranding-slide-img img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-position: center;
  object-fit: cover;
  filter: brightness(60%);
  /* background: #642c2c; */
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background: #1993a5; */
}

.tranding-slide-content .project-name {
  position: absolute;
  left: 20rem;
  bottom: -80px;
  transform: translateX(1%);
  color: var(--white);
  font-size: 5rem;
  align-items: center;
  /* background:  #4b9c20; */
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.4rem;
  /* color: var(--white); */
  /* background: #2909a9; */
}
.project-link a{
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid rgb(222, 215, 215);
  /* margin: 3px; */
  color: #000000;
  background:#fff;
  font-size: 2rem;
  padding: 5px 20px;
  border-radius: 10px;
}


.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #c80aa2; */
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}



.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 3rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}


/* Breakpoints */
@media (max-width: 992px) {
  .header {
    padding: 0.2rem 2%;
  }
}

/* For mobile */
@media (max-width: 768px) {
  .icons {
    display: inline-flex;
    font-size: 3.2rem;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    /* background: red; */
    background: rgba(68, 67, 67, 0.056);
    backdrop-filter: blur(70px);
    box-shadow: 0 0.5rem 1rem rgba(83, 82, 82, 0.7);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 20rem;
  }

  .navbar a {
    display: block;
    font-size: 2.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
    opacity: 0;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  #tranding {
    padding: 0 0 0 0;
    /* background: #d83c3c; */
  }
  
  
  
  #tranding .tranding-slider {
    height: 40rem;
    padding:3rem 0;
    position: relative;
    /* background: #f40a0a; */
  }
  
  
  .tranding-slide {
    width: 25rem;
    height: 20rem ;
    position: relative;
    background: #714545;
  }
  .tranding-slide-content .project-name {
    position: absolute;
    left: 4.7rem;
    bottom: 2rem;
    transform: translateX(2rem);
    color: var(--white);
    font-size: 4rem;
    /* background: #4b9c20; */
  }
  
  .tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.4rem;
    /* color: var(--white); */
    /* background: #2909a9; */
  }
  
}